@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/MontserratRegular.woff2') format('woff2'),
       url('../fonts/MontserratRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/MontserratBold.woff2') format('woff2'),
       url('../fonts/MontserratBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/MontserratExtraBold.woff2') format('woff2'),
       url('../fonts/MontserratExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


a {
  cursor: pointer;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  padding: 0px;
}

h1, h2, h3, h4 {
  margin: 0;
}

h2 {
  font-size: 48px;
  line-height: 59px;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
}
svg {
  transition-property: stroke, fill, transform;
  transition-duration: .5s;
  transition-timing-function: ease;
}



button {
  cursor: pointer;
  margin: 0;
  padding: 0;
  transition-property: background, fill, border-color, color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

html {
  font-family: 'Montserrat';
  background-color: #E5E5E5;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li{
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

p {
  margin: 0;
}

.style-button {
  padding: 38px 20px;
}

.container {
  max-width: 1770px;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 100px;
  position: relative;
}

.visually-hidden {
  visibility: hidden;
  position: absolute;
}

/*HEADER*/
.container-layout {
  position: relative;
  max-width: 1920px;
  width: 100%;
  min-height: 50px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  padding-left: 75px;
  padding-right: 75px;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap; */
  display:flex;
  flex-direction: column;
  overflow: hidden;
}
.container__height100 {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  height: 100px;
  /* box-shadow: 0 5px 40px 10px rgba(0, 0, 0, 0.1); */
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  padding-left: 75px;
  padding-right: 75px;
}

.container__no-wrap {
  flex-wrap: nowrap;
  margin: auto;
}

.burger {
  display: none;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 23px;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 3;
}

.burger:focus {
  outline: 2px solid #E1670E;
}

.line {
  width: 100%;
  height: 3px;
  background-color: #000;
  transition: 0.2s ease-in-out;
  position: relative;
  right: 0px;
}


.burger:active .line {
  background-color: #E1670E;
}
.burger:active .line:nth-child(2) {
  width: 80%;
}
.burger:active .line:nth-child(3) {
  width: 50%;
}

.burger:focus {
  outline: 2px solid rgba(255, 153, 0, 0.7);
  outline-offset: 1px;
}


.menu-hide {
  display: none;
  position: absolute;
  top: -100px;
  right: 0;
  bottom: 0;
  left: 0;
  width:420px;
  height: calc(100% + 20px);
  padding-top:39px;
  padding-right: 106px;
  padding-bottom: 217px;
  padding-left: 50px;
  background-color:rgb(255, 255, 255);
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  z-index: 25;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}


.menu-hide.is-active {
  transform: none;
}


.menu-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.menu-hide__item {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 60px;
}

.menu-hide__link {
  color: rgba(51, 51, 51, 1);
}

.menu-hide__link:hover {
  border-bottom: 2px solid rgba(255, 153, 0, 1);
}
.menu-hide__link:focus-within{
  outline: 2px solid rgba(255, 153, 0, 1);
}
.menu-hide__link:active{
  color: rgba(225, 103, 14, 1);
  border-bottom: 2px solid rgba(225, 103, 14, 1);
  outline: none;
}


.main-hide-link:hover{
  border-bottom: 2px solid rgba(255, 153, 0, 1);
}

.main-hide-link:focus{
  outline: 2px solid rgba(255, 153, 0, 1);
}

.main-hide-link:active{
  color: rgba(225, 103, 14, 1);
  border-bottom: 2px solid rgba(225, 103, 14, 1);
  outline: none;
}

.menu-hide__button {
  border: none;
  background-color: transparent;
  margin-bottom: 100px;
}
.menu-hide__button svg {
  fill: #333333;
}

.menu-hide__button:hover svg rect{
  fill: rgba(255, 153, 0, 1);
  transition: fill .3s ease;
}

.menu-hide__button:focus{
  outline: 1px solid rgba(255, 153, 0, 1);
}

.menu-hide__button:active svg rect{
  fill: rgba(225, 103, 14, 1);
}


.header {
  width: 100%;
  max-width: 1920px;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.main-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.main-menu__item {
  display: block;
  /* padding-left: 84px; */
  margin-left: 84px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  flex-shrink: 0.2;
}

.main-menu-link {
  color:rgba(51, 51, 51, 1);
  /* padding: 5px; */
  flex-shrink: 0.2;
}

.header__icon {
  width: 224px;
  height: 72px;
  margin-right: 6px;
}

.main-menu-link:hover {
 border-bottom: 2px solid rgba(255, 153, 0, 1);
}
.main-menu-link:focus-within{
  outline: 2px solid rgba(255, 153, 0, 1);
}
.main-menu-link:active{
  color: rgba(225, 103, 14, 1);
  border-bottom: 2px solid rgba(225, 103, 14, 1);
  outline: none;
}


.search-form .header-search {
  margin-right: 20px;
}

.header-search, .search-clear-btn {
  border: none;
  background-color: transparent;
  display: block;
}


.header-search:hover svg rect{
  fill: rgba(255, 153, 0, 1);
  transition: fill .3s ease;
}
.header-search:hover svg path{
  stroke: rgba(255, 153, 0, 1);
  transition: stroke .3s ease;
}

.header-search:focus-within {
  outline: 2px solid rgba(255, 153, 0, 1);
  outline-offset: 2px;
}

.search-clear-btn:hover svg rect {
  fill: rgba(255, 153, 0, 1);
  transition: fill .3s ease;
}

.search-clear-btn:hover svg circle{
  stroke: rgba(255, 153, 0, 1);
  transition: fill .3s ease;
}

.search-clear-btn:focus {
  outline: 2px solid rgba(255, 153, 0, 1);
  outline-offset: 1px;
}


.search-form {
  position: absolute;
  right: 5px;
  top: 10px;
  width: 539px;
  height: 60px;
  margin-left: auto;
  z-index: 10;
  padding: 8px 15px;
  box-shadow: 0px 0px 20px 0px #0000001F;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  transform: translateX(120%);
  transition: transform .3s ease;
  visibility: hidden;
}

.search-form.is-active {
  transform: none;
  visibility: visible;
}

.search-form input[type=text] {
  position: absolute;
  left: 32px;
  top: 16px;
  bottom: 16px;
  right: 95px;
  cursor: text;
  width: 70%;
  height: 30px;
  border: none;
  border-bottom: 2px solid rgba(220, 220, 220, 1);
  outline: none;
  background: transparent;
}


.search-form ::placeholder {
  color: #000;
  position: relative;
  top: 0;
  left: 0;
}

/*BANNER*/
.banner {
  position: relative;
  max-width: 1770px;
  width: 100%;
  /* min-height: 620px; */
  height: 100%;
  /* background-image: url(../img/low-angle-photo-of-balconies-2462015\ 1.jpg);
  background-repeat: no-repeat; */
  padding: 100px 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

.banner__title {
  font-size: 70px;
  font-weight: 800;
  line-height: 85px;
  color: rgba(255, 255, 255, 1);
  padding-bottom: 24px;
  z-index: 11;
  pointer-events: none;
}

.banner__description {
  padding-bottom: 89px;
  /* padding-right: 900px; */
  padding-right: 46%;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  color: rgba(255, 255, 255, 1);
  white-space: normal;
  z-index: 11;
  pointer-events: none; /* шоб на мобилке слайды листались*/
}

.section-banner__button {
  padding: 24px 38px;
  font-size: 23px;
  line-height: 28px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  border: 1px solid rgba(255, 153, 0, 1);
  background-color: rgba(255, 153, 0, 1);
  z-index: 11;
}

.section-banner__button:hover {
  background-color: rgba(255, 153, 0, 0.7);
  border: 1px solid rgba(255, 153, 0, 0.7);
}

.section-banner__button:focus {
  background-color: rgba(255, 153, 0, 0.7);
  border: 1px solid rgba(255, 153, 0, 0.7);
  outline: none;
}
.section-banner__button:active {
  background-color: rgba(225, 103, 14, 1);
  border: 1px solid rgba(225, 103, 14, 1);
}

.swiper-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow:hidden;
}

.swiper-slide {
  background-size: cover;
}

.banner-1 {
  background-image: url(../img/low-angle-photo-of-balconies-2462015\ 1.jpg);
}
.banner-2 {
  background-image: url(../img/brown-and-blue-glass-building-2093076\ 2.jpg);
}
.banner-3 {
  background-image: url(../img/apartment-apartment-building-architecture-building-323705\ 2.jpg);
}

.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background: rgba(255, 255, 255, 1);
}

.swiper-pagination-bullet {
  opacity: 1;
  color: rgba(255, 255, 255, 0,4);
}

.swiper-pagination-bullet:focus {
  outline: 3px solid rgba(255, 153, 0, 1);
  outline-offset: 2px;
}

/*ABOUT US*/
.about-us{
  min-height: 943px;
  height: 100%;
  flex-wrap: wrap;
}

.container__column {
  flex-direction: column;
  align-items: baseline;
  justify-content: left;
}

.about-us__title {
  padding-bottom: 23px;
  margin-left: 2px;
  width: 100%;
}

.about-us__description {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  /* padding-right: 535px; */
  padding-right: 30.5%;
  font-size: 16px;
  line-height: 33px;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
}

/* .container__alignment {
  align-items: flex-start;
} */

.about-us-grid {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  width: 100%;
}

.block-type-2 {
  width: 49%;
  height: 50%;
}

.block-type-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* max-width: 868px; */
  width: 49%;
  min-height: 622px;
  height: 100%;
  background: url(../img/Rectangle2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 32px;
  /* padding-bottom: 50px; */
}

.decor__layer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 146px;
  height: 23%;
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 48px;
  padding-top: 52px;
}

.block-type-1__description {
  /* margin-top: 50px; */
  margin-left: 50px;
  width: 454px;
  min-height: 96px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  z-index: 2;
}

.block-type-1__button {
  display: block;
  margin-right: 5.5%;
  /* margin-bottom: 18px;
  margin-left: 17%; */
  padding: 18px 36px;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  border: 2px solid rgba(255, 153, 0, 1);
  background: transparent;
  z-index: 2;
}

.block-type-1__button:hover {
  background-color: rgba(255, 153, 0, 1);
}
.block-type-1__button:focus {
  background-color: rgba(255, 153, 0, 1);
  outline: none;
}
.block-type-1__button:active {
  border: 2px solid rgba(225, 103, 14, 1);
  background-color: rgba(225, 103, 14, 1);
}

.block-type-2 {
  /* max-width: 870px; */
  width: 49%;
  min-height: 295px;
}

.block-type-2__card {
  /* max-width: 870px; */
  width: 100%;
  min-height: 295px;
  border: 1px solid rgba(202, 202, 202, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: 59px center;
  background-size: 190px 165px;
  padding-bottom: 65px;
  padding: 63px 110px 65px 55px;
  align-items: center;
}

.decor-icon {
  margin-right: 50px;
  max-width: 190px;
  max-height: 165px;
  width: 100%;
  height: 100%;
}

.block-type-2__card:first-child {
  margin-bottom: 28px;
}

/* .block-type-2__content {
  width: 452px;
  min-height: 165px;
} */

.block-type-2__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  color: rgba(51, 51, 51, 1);
  margin-bottom: 9px;
}

.block-type-2__description {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
}



/* HOW WE WORKING*/

.how-we-working__title{
  font-size: 48px;
  line-height: 58px;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  margin-bottom: 50px;
}

.how-we-working__list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0px;
  margin-bottom: 46px;
}

.section-how-we-working__size {
  min-height: 646px;
  margin-bottom: 98px;
  justify-content: flex-start;
  /* align-items: flex-start; */
}


/*---------табы--------------*/
.tabs-item {
  display: none;
  border: none;
}

.tabs-item-active {
  display: block;
}

.how-we-working__list__button-active {
  display: block;
}


/*---------------------------*/

.how-we-working__list__item {
  margin-right: 85px;
}

.how-we-working__list__item:nth-child(2){
  margin-right: 86px;
}
.how-we-working__list__item:nth-child(3){
  margin-right: 86.5px;
}


.how-we-working__list__button {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  border: none;
  background-color: transparent;
}
.how-we-working__list__button:hover {
  color: rgba(255, 153, 0, 1);
}
.how-we-working__list__button:focus {
  outline: 2px solid rgba(255, 153, 0, 1);
  outline-offset: 5px;
}
.how-we-working__list__button:active {
  color: rgba(225, 103, 14, 1);
  outline: none;
}

.content-left-part-title{
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: rgba(51, 51, 51, 1);
  margin-bottom: 8px;
}

.how-we-working__content {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 468px;
  justify-content: space-between;
}

.content-right-part {
  width: 49%;
  max-width: 870px;
  max-height: 460px;
  margin-top: 9px;
  /* background-image: url(../img/Rectangle18-1920.jpg); */
  background-size: cover;
  background-position: center center;
}

.content-right-part-step1{
  background-image: url(../img/Rectangle18-1920.jpg);
}
.content-right-part-step2{
  background-image: url(../img/step2.jpg);
}
.content-right-part-step3{
  background-image: url(../img/step3.jpg);
}
.content-right-part-step4{
  background-image: url(../img/step4.jpg);
}


.content-left-part {
  display: block;
  /* width: 50%; */
  width: 43%;
  min-height: 320px;
  margin-right: 142px;
}

.content-left-part-description {
  /* width: 758px; */
  width: 100%;
  min-height: 320px;
  font-size: 16px;
  line-height: 33px;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  padding-bottom: 49px;
  /* margin-bottom: 50px; */
}

.content-left-part-button__link-more {
  border: 1px solid rgba(255, 153, 0, 1);
  padding: 19px 37px;
  background-color: rgba(255, 153, 0, 1);
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  margin-right: 28px;
}
.content-left-part-button__link-more:hover{
  border: 1px solid rgba(247, 176, 69, 1);
  background-color: rgba(247, 176, 69, 1);
}
.content-left-part-button__link-more:focus{
  border: 1px solid rgba(247, 176, 69, 1);
  background-color: rgba(247, 176, 69, 1);
  outline: none;
}
.content-left-part-button__link-more:active{
  border: 1px solid rgba(225, 103, 14, 1);
  background-color: rgba(225, 103, 14, 1);
  outline: none;
}

.content-left-part-button__contract {
  border: 1px solid rgba(51, 51, 51, 1);
  padding: 19px 37px;
  background-color: transparent;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
}

.content-left-part-button__contract:hover{
  border: 1px solid rgba(102, 102, 102, 1);
  background-color: rgba(102, 102, 102, 1);
}
.content-left-part-button__contract:focus{
  border: 1px solid rgba(102, 102, 102, 1);
  background-color: rgba(102, 102, 102, 1);
  outline: none;
}
.content-left-part-button__contract:active{
  border: 1px solid rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
}



/*section-questions*/

.ui-accordion .ui-accordion-content {
  padding: 0;
  overflow: hidden;
}

.ui-accordion .ui-accordion-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  min-height: 111px;
  padding: 30px 0;
  margin: 0;
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  color: rgb(34, 8, 8);
}


.ui-state-focus {
  outline: none;
}


.ui-state-active svg{
  transform: rotate(45deg);
}

.questions-list__item:first-child {
  /* height: 111px; */
  border-top: 1px solid  rgba(202, 202, 202, 1);
}

.questions__size {
  min-height: 500px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-bottom: 96px;
}

.questions__title {
  margin-bottom: 43px;
  line-height: 58.5px;
}


.questions-list {
  width: 100%;
  display: table;
  border-collapse: collapse;
}

.questions-list__item {
  margin-top: -1px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid rgba(202, 202, 202, 1);
}

.questions-list__link {
  width: 100%;
  background-color:transparent;
  flex-wrap: nowrap;
  border: none;
  white-space: pre-line;
}

.questions-list__item:first-child {
  border-top: 1px solid rgba(202, 202, 202, 1);
}

.questions-list__btn {
  fill: rgba(236, 236, 236, 1);
  min-width: 50px;
  margin-left: auto;
}


.questions-description {
  border: none;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}


.questions-list__item:hover{
  border-top: 1px solid rgba(255, 153, 0, 1);
  border-bottom: 1px solid rgba(255, 153, 0, 1);
}
.questions-list__item:hover > .questions-list__link{
  color: rgba(255, 153, 0, 1);
  transition: color .3s ease;
}
.questions-list__item:hover > .questions-list__link > .questions-list__btn {
  fill: rgba(255, 153, 0, 1);
  border-color: rgba(255, 153, 0, 1);
}


.questions-list__item:focus-within{
  border-top: 1px solid rgba(255, 153, 0, 1);
  border-bottom: 1px solid rgba(255, 153, 0, 1);
  outline: none;
}
.questions-list__item:focus-within > .questions-list__link {
  color: rgba(255, 153, 0, 1);
}
.questions-list__item:focus-within  svg {
  fill: rgba(255, 153, 0, 1);
  border-color: rgba(255, 153, 0, 1);
  outline: none;
}

.questions-list__item:active{
  border-top: 1px solid rgba(202, 202, 202, 1);
  border-bottom: 1px solid transparent;
}
.questions-list__item:active{
  color: rgba(202, 202, 202, 1);
}
.questions-list__item:active .questions-list__btn {
  /* transform: rotate(45deg); */
  fill: rgba(236, 236, 236, 1);
  border-color: rgba(202, 202, 202, 1);
}



/*footer*/
.container__black {
  background-color: rgba(34, 34, 34, 1);
  max-width: 1920px;
  width: 100%;
  min-height: 594px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  flex-wrap: nowrap;
}

.container-layout__black {
  background-color: rgba(34, 34, 34, 1);
}

.block1 {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  /* margin-right: 347px; */
  width: 254px;
  min-height: 496px;
  padding-bottom: 50px;
}

.footer-icon {
  width: 225px;
  height: 72px;
  margin-bottom: 16px;
}

.block1__nav-list {
  /* height: 252px; */
  padding-bottom: 15px;
}

.block1__link {
  font-size: 18px;
  line-height: 36px;
  font-weight: 600;
  color: rgba(202, 202, 202, 1);
}

.block1__link:hover {
  color: rgba(255, 153, 0, 1);
}
.block1__link:focus {
  outline: 1px solid rgba(255, 153, 0, 1);
  outline-offset: 5px;
}
.block1__link:active {
  color: rgba(225, 103, 14, 1);
  outline: none;
}

.block1__social-list {
  margin-top: 74px;
  display: flex;
  flex-direction: row;
}

.block1__item  {
  margin-right: 25px;
}

.social-list__item__icon {
  fill: #7C7C7C;
}

.list__item__link:hover > svg{
  fill: rgba(255, 153, 0, 1);
}

.list__item__link:focus-within {
  outline: 1px solid rgba(255, 153, 0, 1);
  outline-offset: 5px;
  fill: #7C7C7C;
}

.list__item__link:active {
  outline: none;
}

.list__item__link:active > svg{
  fill: rgba(225, 103, 14, 1);
}

.block2 {
  margin-top: 40px;
  margin-left: 105px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 570px;
  min-height: 496px;
  /* margin-right: 236px; */
  padding-bottom: 50px;
}

.form-title{
  color: rgba(202, 202, 202, 1);
  margin-bottom: 25px;
  letter-spacing: -2px;
}

::placeholder {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: rgba(202, 202, 202, 1);
  position: absolute;
  top: 14px;
  left: 24px;
}

.bottom-form > label > input[type=text], input[type=email] {
  width: 100%;
  height: 60px;
  padding: 10px;
  background-color: rgba(65, 65, 65, 1);
  margin-bottom: 25px;
  border: 1px solid rgba(65, 65, 65, 1);
}

.bottom-form > label:nth-child(3) > input {
  width: 100%;
  height: 150px;
  padding: 10px;
  background-color: rgba(65, 65, 65, 1);
  border: 1px solid rgba(65, 65, 65, 1);
  margin-bottom: 32px;
}

.bottom-form > input[type=text]:hover, input[type=email]:hover, input[type=textarea]:hover {
  background-color: rgba(102, 102, 102, 1);
}
.bottom-form > input[type=text]:focus, input[type=email]:focus, input[type=textarea]:focus {
  background-color: rgba(102, 102, 102, 1);
}
.bottom-form > input[type=text]:active, input[type=email]:active, input[type=textarea]:active {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(102, 102, 102, 1);
}
/* .bottom-form > input[type=text]:active, input[type=email]:active, input[type=textarea]:active {
  color: rgba(225, 225, 225, 1);
} */

input,
textarea,
[contenteditable] {
  caret-color: violet;
}

.form__button {
  padding: 19px 51px;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 153, 0, 1);
  background-color: rgba(255, 153, 0, 1);
  margin-right: 20px;
  white-space: nowrap;
}

.form__button:hover {
  background-color: rgba(255, 153, 0, 0.7);
  border: 1px solid rgba(255, 153, 0, 0.7);
}
.form__button:focus {
  background-color: rgba(255, 153, 0, 0.7);
  border: 1px solid rgba(255, 153, 0, 0.7);
  outline: none;
}
.form__button:active {
  background-color: rgba(225, 103, 14, 1);
  border: 1px solid rgba(225, 103, 14, 1);
}


/* скрываем чекбокс */
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* поддельный чекбокс */
.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 2px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90% 90%;
}

label {
  color: rgba(202, 202, 202, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -1px;
}
/* состояние checked */
.custom-checkbox:checked+label::before {
  border-color: #adb5bd;
  background-color: rgba(34, 34, 34, 1);
  background-image: url("../img/Rectangle\ 44.svg");
}
/* состояние фокуса */
.custom-checkbox:focus+label::before {
  box-shadow: 0 0 0 0.2rem blue;
}


.form-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.block3 {
  width: 363px;
  min-height: 320px;
  /* margin-top: 50px; */
  padding-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 496px;
}
/* .block3 > p {
  margin-top: 87px;
} */

.block3 > p {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: rgba(202, 202, 202, 1);
}

@media (max-width: 1366px) {
  .main-menu__item {
    margin-left: 50px;
  }

  .main-menu__item:last-child {
    margin: 0;
    margin-left: 50px;
  }

  .about-us-grid {
    flex-direction: column;
  }

  .block-type-1 {
    margin-bottom: 32px;
  }

  .block-type-2,
  .block-type-1 {
    width: 100%;
  }

  .block2 {
    margin-right: 0;
  }

  .block3 {
    display: none;
  }
}

@media (max-width:1024px) {

  .container {
    margin-bottom: 80px;
  }

  .burger {
    display: flex;
  }


  .menu-hide {
    display: block;
  }


  .header__icon {
    width: 150px;
    height: 48px;
  }

  .banner__title {
    padding-bottom: 16px;
  }

  .container-layout {
    padding-left: 50px;
    padding-right: 50px;
  }

  .container__height100 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .main-menu__item:not(:last-child) {
    display: none;
  }

  .banner {
    margin-bottom: 80px;
    padding-bottom: 0px;
    /* background-image: url(../img/low-angle-photo-of-balconies-2462015\ 1024.jpg); */
    background-size: cover;
    padding: 160px 77px;
  }

  .banner__title {
    font-size: 60px;
    line-height: 73px;
  }

  .banner__description {
    line-height: 19.5;
    padding-right: 12%;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 60px;
    /* margin-right: 28%; */
  }

  .about-us__title {
    padding-bottom: 11px;
  }

  .about-us__description {
    padding-right: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 60px;
  }

  .block-type-1 {
    margin-right: 0px;
    width: 100%;
    min-height: 640px;
    background-image: url(../img/Rectangle\ 2\ 1240.jpg);
  }

    .block-type-1__description {
      margin-top: 0;
    }

  .block-type-2 {
    width: 100%;
  }

  .block-type-2__card {
    width: 100%;
    flex-direction: row;
    padding: 65px 150px 64px 77px;
  }

  .block-type-2__card:first-child {
    margin-bottom: 30px;
  }

  .how-we-working__list {
    margin-bottom: 51px;
  }

  .content-left-part {
    margin-right: 0;
    width: 47.3%;
  }

  .content-right-part {
    max-width: 437px;
    width: 47.5%;
    max-height: 700px;
    margin-top: 10px;
    /* background-image: url(../img/Rectangle\ 18__1024.jpg); */
  }

  .questions__title {
    margin-bottom: 32px;
  }

  .section-how-we-working__size {
    margin-bottom: 82px;
  }

  .content-left-part-description {
    line-height: 32px;
    padding-bottom: 25px;
  }

  .questions__size {
    margin-bottom: 80px;
  }

  .questions-list__link {
    padding: 30px 0px;
  }
  .questions-list__link:nth-child(2) {
    padding: 37px 0px;
  }

  .questions-list__link:nth-child(4) {
    padding: 37px 0px;
  }

  .questions-list__link{
    font-size: 20px;
    width: 100%;
  }

  /* .questions-list__item > .questions-list__link {
    width: 80%;
  } */

  .block2 {
    max-width: 541px;
    margin-right: 0px;
    max-width: 541px;
  }

  .form__button {
    padding: 19px 37.5px;
    color: rgba(255, 255, 255, 1);
  }
  .block3 {
    display: none;
  }
}

@media (max-width:992px) {

  .container__height100 {
    height: 69px;
  }

  .menu-hide {
    padding: 21px 105px 198px 50px;
    height: calc(100% - 9px);
    top: -69px;
  }

  .banner {
    padding: 160px 40px;
  }

  .banner__description {
    font-size: 18px;
    line-height: 21.9px;
    padding-right: 3%;
  }

  .about-us__description {
    padding-right: 10%;
  }

  .banner__title {
    font-size: 50px;
    line-height: 60.95px;
  }

  .decor-icon {
    margin-right: 50px;
    width: 100%;
    height: 100%;
  }

  .container__black {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }
  .block1 {
    order: 3;
    margin-top: 0px;
    min-height: 100%;
  }

  .block1__nav-list {
    display: none;
  }

  .block1__social-list {
    margin-top: 0px;
  }

  .how-we-working__content {
   flex-direction: column-reverse;
  }

  .content-left-part {
    width: 100%;
  }

  .content-right-part {
    width: 100%;
    max-width: 870px;
    height: 50%;
    height: 284px;
    /* background-image: url(../img/Rectangle18-768.jpg); */
    background-size: cover;
    background-position: center center;
    margin-bottom: 38px;
  }

}

@media (max-width:768px) {

  .search-form {
    border-radius: 18px;
    width: 90%;
    height: 40px;
    padding: 3px 10px;
  }

  .search-form input[type=text] {
    width: 70%;
    height: 30px;
    top: 5px;
    bottom: 55px;
  }

  .banner {
    /* background-image: url(../img/low-angle-photo-of-balconies-2462015\ 768.jpg); */
    padding: 162px 40px 160px 40px;
  }
  .banner__description {
    padding-right: 10px;
    line-height: 22px;
  }

  .section-banner__button {
    font-size: 23.46px;
    line-height: 28.6px;
    padding: 24px 37px;
  }

  .about-us__description {
    padding-right: 0;
  }

  .block-type-1 {
    min-height: 650px;
  }

  .block-type-1__button {
    margin-left: 47px;
  }

  .decor__layer {
    padding-top: 34px;
    padding-bottom: 34px;
  }

  .block-type-1__description {
    margin-left: 40px;
    width: 54%;
  }

  .block-type-1__button {
    margin-right: 41px;
  }

  .block-type-2__card {
    padding: 34px 42.5px 34px 40px;
    align-items: center;
    min-height: 235px;
  }

  .block-type-2__content{
    width: 78%;
  }

  .block-type-2__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }

  .block-type-2__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    /* word-spacing: 2px; */
  }

  .decor-icon {
    margin-right: 0;
    width: 19%;
  }
  .content-right-part {
    margin-top: 0px;
    max-width: 668px;
  }

  .how-we-working__list {
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .how-we-working__list__item,
  .how-we-working__list__item:nth-child(2),
  .how-we-working__list__item:nth-child(3)  {
    margin: 0px;
  }

  .how-we-working__list__item:last-child {
    margin-right: 0px;
  }


  .questions-list__link:nth-child(3) {
    padding-top: 37px;
    padding-bottom: 37px;
  }

  .questions-list__l.list__item__link {
    padding-top: 37px;
    padding-bottom: 37px;
  }

  .block2 {
    margin-left: 0;
    margin-top: 52px;
    padding-bottom: 50px;
  }

  input:nth-child(3) {
    margin-bottom: 32px;
  }

  .footer-icon {
    margin-bottom: 11px;
  }
}

@media (max-width: 592px) {
  .container-layout {
    padding-left: 15px;
    padding-right: 15px;
  }

  .menu-hide {
    width: 100%;
    padding: 23px 41px 71px 15px;
    height: calc(100% + 10px);
  }


  .search-form {
    width: 98%;
  }


  .menu-hide__item {
    margin-bottom: 32px;
  }

  .menu-hide__button {
    margin-bottom: 32px;
  }

  .container__height100 {
    padding: 0px 15px;
  }

  .header__icon {
    width: 110px;
    height: 35px;
  }

  .search-form ::placeholder {
    font-size: 15px;
  }

  .banner {
    padding: 60px 20px;
    align-items: center;
    margin-bottom: 60px;
  }

  .banner__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .banner__description {
    font-weight: 700;
    font-size: 12px;
    line-height: 14.63px;
    text-align: center;
  }

  .section-banner__button {
    padding: 14px 28px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14.63px;
  }

  .decor__layer {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .block-type-1__description {
    width: 100%;
    padding: 30px 10px;
    margin-left: 0px;
  }

  .block-type-1__button {
    margin-left: 10px;
  }

  .block-type-2__card {
    flex-direction: column;
  }

  .decor-icon {
    margin-bottom: 12px;
    width: 34%;
    height: 29%;
  }

  .content-left-part {
    margin-right: 0;
  }

  .content-left-part-button__link-more {
    padding: 12px 42.5px;
    font-size: 12px;
    line-height: 14.63px;
    margin-right: 8px;
  }

  .content-left-part-button__contract {
    padding: 12px 30.5px;
    font-size: 12px;
    line-height: 14.63px;
  }

  .container__black {
    align-items: center;
  }

  .form-bottom {
    flex-direction: column;
  }

  .form__button {
    margin-bottom: 20px;
  }


  .questions-list__btn {
    max-width: 30px;
    min-width: 30px;
  }
}

@media (max-width: 320px) {

  .container {
    margin-bottom: 60px;
  }

  h2 {
    font-size: 24px;
    line-height: 29.26px;
  }

  .container__height100 {
    padding-left: 15px;
    padding-right: 15px;
    height: 69px;
  }

  .header__icon {
    width: 110px;
    height: 35px;
  }

  .search-form {
    width: 90%;
  }

  .main-menu__item:last-child {
    margin: 0;
  }

  .banner {
    /* background-image: url(../img/low-angle-photo-of-balconies-2462015\ 320.jpg); */
    min-height: 308px;
  }

  .banner__title {
    padding-bottom: 6px;
  }

  .banner__description {
    font-weight: 600;
    padding-right: 0;
    padding-bottom: 32px;
    line-height: 15px;
  }

  .about-us__title {
    padding-bottom: 20px;
  }

  .about-us__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 13px;
  }

  .decor__layer {
    padding-top: 210px;
  }

  .section-banner__button {
    padding: 13px 28px;
  }

  .block-type-1 {
    min-height: 399px;
    margin-bottom: 32px;
    background-size: contain;
    background-position: top;
  }

  .decor__layer {
    padding-top: 208px;
    background-color: transparent;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 0px;
  }

  .block-type-1__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    margin: 0;
    color: rgba(51, 51, 51, 1);
    white-space: normal;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
    margin-bottom: 0;
  }

  .block-type-1__button {
    margin: 0;
    color: rgba(255, 153, 0, 1);
    padding: 11px 42px;
    stroke-width: 700;
    font-size: 12px;
    line-height: 14.63px;
  }

  .block-type-1__button:active {
    border: 2px solid rgba(225, 103, 14, 1);
    background-color: rgba(225, 103, 14, 1);
    color: rgba(255, 255, 255, 1);
  }

  .block-type-1__button:focus {
    border: 2px solid rgba(225, 103, 14, 1);
    background-color: rgba(225, 103, 14, 1);
    color: rgba(255, 255, 255, 1);
  }

  .block-type-2__card {
    padding: 0;
    border: none;
    align-items: flex-start;
  }

  .block-type-2__content {
    width: 98%;
  }

  .decor-icon {
    width: 22%;
    height: 22%;
    margin-bottom: 7px;
  }

  .block-type-2__card:first-child {
    margin-bottom: 30px;
  }

  .block-type-2__title {
    width: 89%;
    font-weight: 500;
    font-size: 16.9px;
    line-height: 22px;
    margin-bottom: 4px;
  }

  .block-type-2__description {
    font-size: 14px;
    line-height: 28px;
  }

  .how-we-working__title {
    font-size: 24px;
    line-height: 29.26px;
    margin-bottom: 20px;
  }

  .how-we-working__list {
    margin-bottom: 16px;
  }

  .how-we-working__list__button {
    font-size: 14px;
    line-height: 17px;
  }

  .content-left-part {
    margin-right: 0;
  }

  .content-right-part {
    min-height: 160px;
    /* background-image: url(../img/Rectangle\ 320.jpg); */
    height: 160px;
    margin-bottom: 16px;
  }

  .content-left-part-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 8px;
  }

  .content-left-part-description {
    font-size: 14px;
    line-height: 28px;
    padding-bottom: 16.5px;
  }

  .section-how-we-working__size{
    margin-bottom: 60px;
  }

  .questions__title {
    font-size: 24px;
    line-height: 29.26px;
    margin-bottom: 16px;
  }

  .questions-list__link {
    padding: 30px 0;
  }

  .questions-list__link:nth-child(2),
  .questions-list__link:nth-child(3) {
    padding: 40px 0;
  }

  .questions-list__link:nth-child(4) {
    padding: 43px 0;
  }

  .questions-list__link:nth-child(5) {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .questions-list__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .questions__size {
    margin-bottom: 58px;
  }

  .questions-icon {
    height: 27px;
    width: 27px;
  }

  .form-bottom {
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid rgba(89, 89, 89, 1);
  }

  .form__button{
    margin-bottom: 11px;
  }


  .container-layout__black {
    justify-content: flex-start;
  }

  .block1 {
    width: 100%;
    align-items: center;
  }

  .block2{
    margin-top: 32px;
    padding-bottom: 16px;
  }

  .form-title {
    margin-bottom: 22px;
  }

  input:nth-child(3) {
    margin-bottom: 25px;
  }

  .form__button {
    padding: 12px 25px;
    margin: 0;
    font-size: 12px;
    line-height: 14.63px;
    margin-bottom: 13.5px;
  }

  .checkbox-other {
    margin-bottom: 18px;
  }

  .footer-icon {
    width: 100%;
    height: 42px;
    margin-bottom: 0;
  }

  .block1__item {
    margin-right: 16px;
  }

  .block1__item:last-child {
    margin-right: 0;
  }

  .block1__item > .list__item__link {
    display: inline-block;
  }

  .social-list__item__icon {
    max-width: 40px;
  }

  .footer-link-item {
    display: block;
    max-width: 131px;
  }

  .checkbox-other {
    margin-bottom: 20px;
  }
}
